<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit the form</title>
</head>
<body>
   <h1>edit is working :<%=user.email%></h1>
   <form method="post" action="/user/<%=user.userid%>?_method=patch" >
      <input placeholder="enter the new username" name="username" >
      <input placeholder="password" type="password" name="password">
      <button>click to proceed</button>
   </form>
</body>
</html>