<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home page</title>
</head>
<body>
<h1>this is the  page 1+@</h1>
    <button>this is the button </button>
  
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo minus sint atque, ullam obcaecati, inventore provident quam quasi ea voluptatum aliquid voluptatibus quidem beatae dolore? Corrupti ex laboriosam odit numquam.</p>
</body>
<script src="../app.js"></script>
</html>