<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Information</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <h2>this is the post Information</h2>
   post id:<%= post.id %>
  <div class="post">
    <h1 class="user" ><%= post.name%></h1>
    <h1 class="content"><%= post.age %></h1>
  </div>
</body>
</html> 